# Pasta de build do Maven
/target/

# Arquivos e pastas do IntelliJ IDEA
/.idea/
*.iml

# Arquivos de banco de dados local
# (Você não quer versionar o banco em si, apenas o código)
*.db
*.db-journal

# Arquivos de log
*.log